/* general *******************************************/
/****************************************************/
:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
	--color-n3: #b626cf;
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
	--fz-big: 90px;
	--indent: 50px;
	--indent2: 100px;
	--font-f1: 'Eater', cursive;
	--font-f2: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
	
	font-weight: 800;
	margin: 0;
	padding: 0;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
	background: var(--second-color);
	font-family: 'Montserrat', sans-serif;
}

.wrapp {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.header {
	padding: var(--indent2) 0;
	padding-bottom: 30px;
	font-family: 'Eater', cursive;
}

.title {
	position: relative;
	margin: 0;
	font-size: var(--fz-big);
	line-height: 1;
	color: var(--pr-color);
	text-transform: uppercase;
	mix-blend-mode: difference;
	z-index: 2;
}

.title .stroke {
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px var(--color-n3);
}

.main {
	padding-bottom: var(--indent2);
}

.content {
	width: 100%;
	height: auto;
	padding: 0 var(--indent);
}

.section-text {
	margin-top: var(--indent2);
}

p {
	color: #616161;
	font-size: 25px;
	line-height: 1.4;
}


/* scroll trigger *************************/
/*****************************************/
.section-slider {
	height: auto;
	padding: 30px 0;
}

.gsap__slider {
	height: 80vh;
}

.gsap__bl {
	width: 100%;
}

.gsap__inner,
.gsap__track {
	display: flex;
}

.gsap__inner {
	width: calc(100% + var(--indent));
}

.gsap__track {
	will-change: transform;
}

.gsap__item {
	position: relative;
	flex: 0 0 auto;
	width: 750px;
	background: #000;
	will-change: transform;
}

.gsap__item+.gsap__item {
	margin-left: var(--indent);
}

.gsap__item img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}

.gsap__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .4;
	filter: blur(15px);
	transform: scale(1.3);
	z-index: 1;
}

.gsap__item-num {
	position: absolute;
	top: 15px;
	left: 40px;
	font-size: 50px;
	/* color: var(--color-n3); */
	display: block;
	color: transparent;
	-webkit-text-stroke: 5px #0d279a;
	opacity: .5;
	z-index: 3;
}


/* .js-loadme canvas {
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

.displacement {
	position: absolute;
	display: block;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.js-loadme canvas {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.gsap_slider .content,
.gsap_h,
.gsap__bl,
.gsap__inner,
.gsap__item {
	height: 100%;
}


#page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;
}
#page2>h1{
    font-weight: 100;
    /* line-height: 1.3; */
    width: 90%;
    font-size: 20px;
    color: #dadada69;
}


@media screen and (max-width:767px) {
	.title {
		position: relative;
		margin: 0;
		font-size: 25px;
		line-height: 1;
		color: var(--pr-color);
		text-transform: uppercase;
		mix-blend-mode: difference;
		z-index: 2;
	}

	.content {
		width: 100%;
		height: auto;
		padding: 0 10px;
	}
	
	.section-text {
		margin-top:10px;
		text-align: justify;
	}
	
	p {
		color: #616161;
		font-size: 20px;
		line-height: 1;
	}
}


